.screen-reader-text {
     position: absolute;
     left: -1000em;
}

a {
    text-decoration: none;
    color: #0000bb;
}

a:visited {
    color: #bb00bb;
}

body {
    background: #fff;
    color: #000;
    font: normal 100% Verdana, sans-serif;
}

img {
    margin: 0; 
    border-width: 0;
    padding: 0;
    max-width: 100%;
    display: block;
}

p {
    font-size: 1em;
    line-height: 1.45em;
    margin: 0 0 1em 0;
}

#content {
    padding: 1.25em 0;
    overflow: hidden;
}

#footer {
    clear: both;
    color: #cccccc;
    text-align: center;
    font-size: .75em;
    font-style: normal;
}

#footer a {
    color: #cccccc;
}

#footer a:hover {
    color: #0000bb;
}

#fourZeroFour {
    text-align: center;
}

#nav {
    max-width: 30em;
    margin: 0 auto;
    padding: 0.5em 0 0 0;
    list-style-type: none;
    text-align: center;
}

#nav a {
    color: #000;
}

#nav a:hover {
    text-decoration: underline;
}

#nav li {
    margin: 0;
    font-size: 1.5em;
    padding: 0 0.25em;
    display: inline;
}

#page {
    max-width: 60.00em;    
    margin: 2.5em auto;
    padding: 0 0.625em;
}

#picture {
    margin: 0 auto;
    padding-bottom: 1.25em;
    max-width: 13.5em;

}

.text {
   max-width: 45em; 
   margin: 0 auto;
}

#title {
    padding: 0;
    margin: 0 auto;
    max-width: 30em;
    display: block;
}

@media screen and (max-width: 40em) {
    #nav li {
        font-size: 1.25em;
    }
}

@media screen and (min-width: 30em) {
    #picture {
        float: left;
        margin-right: 1.25em;
    }
}

@media screen and (max-width: 30em) {
    #picture {
        float: none;
    }
}
