---
---
{% assign cleanKey = {{entry.key | remove: ":" | remove: "/" | remove: "_" | remove: '-' }}}} %}
{% assign bibKey = {{cleanKey | append: "Bib"}} %}
<span class="bibindex">[{{entry.index}}]</span>&nbsp;&nbsp;&nbsp;&nbsp;{{reference}}{% if links['abstract.pdf'] %} <a class="more" href="{{ links['abstract.pdf'] }}">Abstract</a>{% endif %} <a class="collapsed more" data-bs-toggle="collapse" href="#{{ bibKey }}" role="button" aria-expanded="false" aria-controls="{{ bibKey }}">Bib</a>{% if links.pdf %} <a class="more" href="{{links.pdf}}">Paper</a>{% endif %}{% if links['poster.pdf'] %} <a class="more" href="{{links.poster.pdf}}">Poster</a>{% endif %}{% if links['precis.pdf'] %} <a class="more" href="{{links.precis.pdf}}">Precis</a>{% endif %}
<!-- Display bibtex on button click -->
<div class="collapse my-3" id="{{ bibKey }}"><pre>{{ entry.bibtex }}</pre></div>
