<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Josh Rule: {{ page.title }}</title>
    <meta name="author" content="Josh Rule" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <link rel="shortcut icon" href="/a/favicon.ico" />
    <!-- <script type="text/javascript" src="/mathjax/MathJax.js"></script> -->
</head>

<body>
    <div id="site">
        <div id="header">
            <a href="/">Josh Rule</a> :: <a href="/about">about</a>
        </div>
  
        <div id="content">{{ content }}</div>
  
        <div id="footer">
            <hr/>
            <cite> &copy; 2011 <a href="/">Josh Rule</a> </cite>
        </div>
    </div>
</body>

</html>
