---
layout: default
---

<div class="row">
    <div class="col-lg-12 align-self-top">
        <h1 class='name text-left mb-0'>Josh Rule &middot; {{ page.title }}</h1>
        <p class="links">
            <!-- Obfuscated email thanks to http://www.email-obfuscator.com -->
            <a href="javascript:location='mailto:\u006a\u006f\u0073\u0068\u0075\u0061\u002e\u0073\u002e\u0072\u0075\u006c\u0065\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d';void 0" title="email me"><script type="text/javascript">document.write('\u006a\u006f\u0073\u0068\u0075\u0061\u002e\u0073\u002e\u0072\u0075\u006c\u0065\u0040\u0067\u006d\u0061\u0069\u006c\u002e\u0063\u006f\u006d')</script></a> &middot; <a href='https://github.com/joshrule' title="my GitHub profile">GitHub</a> &middot; <a href="https://scholar.google.com/citations?hl=en&user=Hfe_zNAAAAAJ&view_op=list_works&sortby=pubdate">Scholar</a>
        </p>
    </div>
</div>
{{ content }}

